@import "variables";

.post-list {
  margin: 0;
  .post {
    $card-border-color: $base-border-color;
    $card-border: 1px solid $card-border-color;
    $card-background: lighten($card-border-color, 10%);
    $card-header-background: $card-background;
    $card-margin: -1rem;
    $card-image-hover-opacity: 0.7;

    background-color: $card-background;
    border: $card-border;
    border-radius: $base-border-radius;
    box-shadow: 0 2px 4px darken($base-background-color, 10%);
    @include flex-basis(15em);
    @include flex-grow(1);
    margin: 0 $card-margin $base-spacing/2 $card-margin;

    @include media($medium-screen) {
      margin: 0 0 $base-spacing 0;
    }

    position: relative;
    transition: all 0.2s ease-in-out;

    .post-image {
      max-height: 15rem;
      overflow: hidden;
      margin-bottom: -4.5rem;

      img {
        @include border-top-radius($base-border-radius);
        object-fit: cover;
        transition: all 0.2s ease-in-out;
        width: 100%;
        z-index: auto;
        max-height: 15rem;
        height: 100%;
      }
    }

    .post-header {
      font-weight: bold;
      line-height: 1.5em;
      padding: ($base-spacing / 3) ($base-spacing / 2);
      transition: all 0.2s ease-in-out;
      position: relative;
      z-index: 1;
      background-color: rgba(white, .5);
      -webkit-backdrop-filter: blur(5px);
      text-shadow: 0 0 2px white;

      .post-title {
        font-size: 1.5rem;
        margin-bottom: 0;
      }

      .post-meta {
        font-size: .8rem;
        color: gray;
      }
    }

    .post-content {
      font-size: 0.9em;
      line-height: 1.5em;
      padding: ($base-spacing / 2) ($base-spacing / 2);

      p {
        margin: 0 0 ($base-spacing / 2);
      }
    }

    &:focus,
    &:hover {
      box-shadow: 4px 4px 10px darken($base-background-color, 20%);

    }

  }
}

.site-content > .post-image {
  text-align:center;
  // @include flexbox;
  // @include justify-content(center);

  img {
    display: inline-block;
    transition: all 0.2s ease-in-out;
    // @include flex(0 1 auto);
    min-width: 100%;

    @include media($max-width){
      min-width: $max-width;
    }

  }
}

article {

  .post-title {
    font-size: 2rem;
    margin-bottom: 0;

    @include media($medium-screen) {
      font-size: 3rem;
    }
  }

  .post-header {
    margin-bottom: 2rem;
    border-bottom: 1px solid $NetEaseRed;
  }

  /**
 * Lists
 */
  ul, ol {
    margin-left: $base-spacing;
  }

  ol {
    li {
      margin-bottom: 0;
      list-style-type: decimal;
    }

  }
  ul {
    li {
      margin-bottom: 0;
      list-style-type: disc;
    }
  }

  hr{
    border-bottom: 1px dashed $NetEaseRed;
  }
}
