@import "variables";

html,
body,
.site,
header,
main,
footer {
  margin: 0;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $base-spacing / 2;
}

.wrapper {
  @include outer-container;
  @include pad(1rem 2rem);

  @include media(max-width $medium-screen) {
    @include pad(.25rem);
  }
  @include media(max-width $large-screen) {
    @include pad(1rem);
  }
}

.site {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;

  text-align: justify;
}

.site-header {
  flex: none;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    &::after {
      display: none
    }

    .site-nav {
      margin-top: 1rem;
    }

    @include media($medium-screen) {
      flex-direction: row;
      .site-nav {
        margin-top: 0;
      }
    }

  }

  background-color: #353535;
  background-image: -webkit-linear-gradient(bottom, black, #353535);
  background-image: linear-gradient(to top, black, #353535);
  border-bottom: 5px solid $NetEaseRed;

  box-shadow: 0 5px 5px transparentize(black, .5);

}

.site-content {
  flex: 1 0 auto;
}

.site-title {
  color: lightgrey;
  font-size: 1.2rem;
  font-weight: 400;

  &:hover {
    color: white;
    text-shadow: 1px 1px 10px white;

  }
  @include media($medium-screen){
    font-size: 1.5rem;
    font-weight: 300;
  }
}

.site-nav {
  .page-link {
    padding: 0 1rem;
    &:first-child,
    &:last-child {
      padding: 0;
    }
  }
}


.page-link {
  color: darkgray;

  &.active {
    color: white;
  }
}

a.page-link:hover {
  color: white;
}

.site-footer {
  border-top: 1px solid $NetEaseRed;
  background-color: #f9f9f9;
}

.ribbon-box {
  @include size(100px);
  border: 1px solid #bbb;
  position: relative;
}

.ribbon-wrapper {
  $ribbon-background: $NetEaseRed;
  $ribbon-size: 85px;
  z-index: 3;

  @include size($ribbon-size);
  overflow: hidden;
  position: absolute;
  right: -1px;
  top: -1px;

  .ribbon {
    background-color: $ribbon-background;
    box-shadow: 0 0 3px rgba(#000, 0.3);
    color: #fff;
    font-size: 0.8em;
    left: -5px;
    line-height: 1.5em;
    padding: 2px 7px;
    position: relative;
    text-align: center;
    top: 15px;
    transform: rotate(45deg);
    width: 120px;
    opacity: .8;
  }
}