<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
      {% if page.title %}
      {{ page.title | escape }} &middot; {{ site.github.project_tagline | escape }}
      {% else %}
      {{ site.github.project_tagline | escape }}
      {% endif %}
  </title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.github.url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.github.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.github.project_tagline }}" href="{{ "/feed.xml" | prepend: site.github.url }}">
</head>
  <body class="site">

      <header class="site-header">

        <div class="wrapper">
          <a class="site-title" href="{{ site.github.url }}/">{{ site.github.project_tagline | escape }}</a>

            <nav class="site-nav">
                {% assign group = 'navigation' %}
                {% for node in site.pages %}
                {% if 'navigation' == node.group %}
                {% if page.url == node.url %}
                <span class="active page-link">{{node.title}}</span>
                {% else %}
                <a class="page-link" href="{{node.url | prepend: site.github.url }}">{{node.title}}</a>
                {% endif %}
                {% endif %}
                {% endfor %}
                {% assign group = nil %}
                <a class="page-link" href="{{ site.github.issues_url }}/new/" target="_blank">提交请求</a>

            </nav>
        </div>

      </header>
    <main class="site-content">
        {{ content }}
    </main>

    <footer class="site-footer">
        <div class="wrapper">
            <p>© {{ site.github.project_tagline | escape }}  |  “网易云音乐”及“网易”是浙江杭州网易公司的商标。</p>
        </div>
    </footer>

  </body>

</html>
